<header class="header-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-top">
          <div class="logo-area">
            <a href="/"><img src="assets/images/logo-2.png"  alt="ezKontact"></a>
          </div>
          <div class="header-top-toggler">
            <div class="header-top-toggler-button"></div>
          </div>
          <div class="top-nav">
            <div class="dropdown header-top-notification">
              <a href="https://hulklogic.com/HULKATS.html" target="_blank" class="about-button" style="font-size:14px;font-weight:bold;">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="dropdown header-top-account">
              <a href="#" target="_blank" class="price-button" target="_blank" style="font-size:14px;font-weight:bold;">Pricing</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="dropdown header-top-account">
              <a href="https://hulklogic.com/contact.html" target="_blank" class="contact-button" style="font-size:14px;font-weight:bold;">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>