<app-header></app-header>
<div class="padding-top-90 padding-bottom-90 access-page-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          &nbsp;
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xI-xVTBMGvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="access-form">
          <div class="form-header" style="background-color:#ff8f00;">
            <h5 style="color:#fff;text-align:center;"><i class="fa fa-user-circle-o"></i>ezKontact Login</h5>
          </div>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input type="email" placeholder="Email Address" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" formControlName="password" class="form-control">
            </div>
            <div class="more-option">
              <div class="mt-0 terms">
                <input class="custom-radio" type="checkbox" id="radio-4" formControlName="terms" name="termsandcondition">
                <label for="radio-4">
                  <span class="dot"></span> Remember Me
                </label>
              </div>
              <p> <a href="#">Forget Password?</a></p>
              <p>Don't have an account? <a (click)="registeration()">Register</a></p>
            </div>
            <button class="button primary-bg btn-block" [disabled]="!loginForm.valid">Login</button>
          </form>
          <div class="shortcut-login">
            <div class="buttons" style="border-color:#FFFFFF;">
              <a href="#">Privacy Policy</a>
              <a href="#">Terms</a>
            </div>
            <p>Powered by <a href="register.html">HulkLogic Technologies Pvt Ltd,2019</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>