<header class="header-2 access-page-nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header-top">
            <div class="logo-area">
              <a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
            </div>
            <div class="top-nav">
              <a (click)="login()" class="account-page-link" style="background-color:#ff8f00;">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="padding-top-90 padding-bottom-90 access-page-bg">
    <div class="container">
      <div class="row">
     <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        &nbsp;
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xI-xVTBMGvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>	
        <div class="col-xl-4 col-md-6">
          <div class="access-form">
            <div class="form-header" style="background-color:#ff8f00;text-align:center;">
              <h5 style="color:#ffffff;"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;&nbsp;Register your account here</h5>
            </div>
            <form [formGroup]="registrationForm">
              <div class="form-group">
                <input type="text" placeholder="Username" formControlName="username" class="form-control">
              </div>
              <div class="form-group">
                <input type="email" placeholder="Email Address" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" formControlName="password" class="form-control">
              </div>
              <div class="more-option terms">
                <div class="mt-0 terms">
                  <input class="custom-radio" type="checkbox" id="radio-4" formControlName="terms" name="termsandcondition" checked>
                  <label for="radio-4">
                    <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                  </label>
                </div>
              </div>
              <button class="button primary-bg btn-block">Register</button>
            </form>
            <div class="shortcut-login">
              <p>Already have an account? <a (click)="login()">Login</a></p>
      <br/>
      <p>Powered by <a href="register.html">HulkLogic Technologies Pvt Ltd,2019</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
